* {
    font-family: 'Arial', sans-serif;
    font-weight: 500;
}

#header {
    font-size: 70px;
    text-align: center;
}

a {
    display: inherit;
    /* border-top: inset; */
    padding: 5px;
    /* text-align: left; */
}

.napit {
    display: flex;
    justify-content: space-around;
}
.poistaNappi {
    margin-right: 3vw; /* Laittaa napit hienosti keskitetyksi */
    
    width: 5vw;
    height: 5vw;
    font-size: 3vw;  
    background-color: rgb(228, 95, 95);
    color: white;
    border-radius: 1vw;
    border-color: white;
    border: 0;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.19);
}

.lisääNappi {
    margin-left: 3vw; /* Laittaa napit hienosti keskitetyksi */

    width: 5vw;
    height: 5vw;
    font-size: 3vw;  
    background-color: rgb(63, 142, 206);
    color: white;
    border-radius: 1vw;
    border-color: white;
    border: 0;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.19);
}

.pieniDesc {
    font-size: 2vw;
    margin-bottom: 0;
}

.lisaaInput {
    max-width: 17vw;
}

.lisaaInputNappi {
    max-width: 17vw;
    width: 130px;
    height: 30px;
    background-color: rgb(40, 135, 213);
    color: white;
    border-color: white;
    border: 0;
    border-radius: 3px;
}

.content {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    align-items: flex-start;
}

.Container {
    width: 21vw;
    border-radius: 10px; 
    box-shadow: 0px 0px 60px -35px;
    text-align: center;
}

img {
    max-width: 15vw;
}

.tunnus {
    border-top: inset;
}

.chickenButton {
    height: 3vw;
    width: 13vw;
    margin-top: 2vw;
}

/* ----------------- Animaatiot --------------------*/

.Info {
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    transition: opacity 0.3s linear, max-height 0.4s cubic-bezier(.48,.49,.13,.89);
    cursor: progress ;
}

.Info.show {
    opacity: 1;
    max-height: 450px;
}

#opiskelijat {
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    transition: opacity 0.5s linear, max-height 0.75s cubic-bezier(.48,.49,.13,.89);
}

#opiskelijat.show {
    opacity: 1;
    max-height: 1500px;
}

#opettajat {
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    transition: opacity 0.5s linear, max-height 0.75s cubic-bezier(.48,.49,.13,.89);
}

#opettajat.show {
    opacity: 1;
    max-height: 1500px;
}

#kurssit {
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    transition: opacity 1s linear, max-height 1.5s cubic-bezier(.48,.49,.13,.89);
}

#kurssit.show {
    opacity: 1;
    max-height: 2000px;
}

#tilat {
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    transition: opacity 0.5s linear, max-height 0.75s cubic-bezier(.48,.49,.13,.89);
}

#tilat.show {
    opacity: 1;
    max-height: 500px;
}

@media screen and (max-width: 1700px){
    a {
        font-size: 2.2vw;
    }
    
    .Otsikko {
        font-size: 3.5vw;
    }
}